[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "tests/unit/googletest"]
	path = tests/unit/googletest
	url = https://github.com/google/googletest.git
